.CodeMirror .CodeMirror-scroll {
    background-color: #323232;
    color: #E6E1DC;
}

.CodeMirror .CodeMirror-gutters {
    background-color: #232323;
}

.CodeMirror .CodeMirror-linenumber {
    color: #dddddd;
    background-color: #232323;
}

.CodeMirror .CodeMirror-matchingbracket {
    color: black;
    background-color: #dedede;
}

.CodeMirror .CodeMirror-linebackground {
    outline: 1px solid #232323;
}

.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #232323 !important;
}

.CodeMirror-activeline-background {
    outline: 1px solid #232323;
}

.CodeMirror .cm-matchhighlight {
    background-color: yellow;
}

.CodeMirror .CodeMirror-selectedtext {
    background-color: #3D4456 !important;
}

.CodeMirror .cm-atom { color: #E0E2E4; }
.CodeMirror .cm-qualifier { color: #FFC66D; }
.CodeMirror .cm-def { color: #CC7833 ; }
.CodeMirror .cm-keyword { color: #CC7833; }
.CodeMirror .cm-comment { color: #BC9458; }
.CodeMirror .cm-string {color: #A5C261;}
.CodeMirror .cm-string-2 {color: #A5C261;}
.CodeMirror .cm-variable { color: #D0D0FF; }
.CodeMirror .cm-variable-2 { color: #D0D0FF; }
.CodeMirror .cm-variable-3 { color: #D0D0FF; }
.CodeMirror .cm-tag { color: #E8BF6A; }
.CodeMirror .cm-attribute { color: #FFC66D; }
.CodeMirror .cm-property { color: #6E9CBE; }
.CodeMirror .cm-number {color: #A5C261; }
.CodeMirror .cm-meta {color: #FFC66D; }
.CodeMirror .cm-operator {color: #CC7833; }
