.CodeMirror .CodeMirror-scroll {
    background-color: #2c2c2c;
    color: #E6E1DC;
}

.CodeMirror .CodeMirror-gutters {
    background-color: #232323;
}

.CodeMirror .CodeMirror-linenumber {
    color: #dddddd;
    background-color: #232323;
}

.CodeMirror .CodeMirror-matchingbracket {
    color: #ff4500 !important;
    background-color: rgba(15, 15, 15, 0.31);
}

.CodeMirror .CodeMirror-linebackground {
    outline: 1px solid #232323;
}

.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #232323 !important;
}

.CodeMirror-activeline-background {
    outline: 1px solid #232323;
}

.CodeMirror .cm-matchhighlight {
    background-color: orange;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #555555;
}

.CodeMirror .CodeMirror-selected {
  background: #444444;
}

.CodeMirror-cursors {
  z-index: 3;
}
.CodeMirror-cursors .CodeMirror-cursor {
  border-left: 1px solid #c5c8c6 !important;
}

.CodeMirror .cm-atom { color: #E0E2E4; }
.CodeMirror .cm-qualifier { color: #FFC66D; }
.CodeMirror .cm-def { color: #CC7833 ; }
.CodeMirror .cm-keyword { color: #CC7833; }
.CodeMirror .cm-comment { color: #BC9458; }
.CodeMirror .cm-string {color: #A5C261;}
.CodeMirror .cm-string-2 {color: #A5C261;}
.CodeMirror .cm-variable { color: #D0D0FF; }
.CodeMirror .cm-variable-2 { color: #D0D0FF; }
.CodeMirror .cm-variable-3 { color: #D0D0FF; }
.CodeMirror .cm-tag { color: #E8BF6A; }
.CodeMirror .cm-attribute { color: #FFC66D; }
.CodeMirror .cm-property { color: #6E9CBE; }
.CodeMirror .cm-number {color: #A5C261; }
.CodeMirror .cm-meta {color: #FFC66D; }
.CodeMirror .cm-operator {color: #CC7833; }
